--only-binary=pyyaml
pyyaml
tqdm
requests
curl_cffi
openpyxl
rapidfuzz
playwright
pikepdf
pypdfium2
doclayout-yolo
Pillow
deskew
huggingface_hub
rapidocr-onnxruntime
paddlepaddle
paddleocr
surya-ocr
wordninja
pymupdf